/* src/components/Navbar/Navbar.css */

.bg-body-tertiary {
    background-color: #ffffff; /* Light background color */
  }
  
  .navbar-brand {
    font-size: 1.75rem;
    color: #ffc400; /* Brand color */
  }
  
  .navbar-brand:hover {
    color: #ffc400; /* Darker green on hover */
  }
  
  .nav-link {
    font-size: 1rem;
    color: #333; /* Dark text color for links */
    padding: 0.75rem 1rem; /* Add padding around links */
  }
  
  .nav-link:hover {
    color: #ffc400; /* Blue color on hover */
    text-decoration: underline; /* Underline on hover */
  }
  
  .nav-link.active {
    font-weight: bold;
    color: #ffc400; /* Blue color for active links */
  }
  
  .navbar-toggler {
    border-color: #ffc400; /* Blue border for the toggle button */
  }
  
  .navbar-toggler-icon {
    background-image: url('data:image/svg+xml,...'); /* Bootstrap’s default icon */
  }
  
  .button-outline-success {
    border-color: #ffc400; /* Green border for the button */
    color: #ffc400; /* Green text color */
    font-size: 1.125rem; /* Increase font size */
    padding: 0.75rem 1.5rem; /* Increase padding for a larger button */
  }
  
  .button-outline-success:hover {
    background-color: #ffc400; /* Green background on hover */
    color: #ffffff; /* White text color on hover */
  }
  
  