

.bg-body-tertiary {
    background-color: #ffffff; 
  }
  
  .navbar-brand {
    font-size: 1.75rem;
    color: #ffc400; 
  }
  
  .navbar-brand:hover {
    color: #ffc400; 
  }
  
  .nav-link {
    font-size: 1rem;
    color: #333; 
    padding: 0.75rem 1rem; 
  }
  
  .nav-link:hover {
    color: #ffc400; 
    text-decoration: underline; 
  }
  
  .nav-link.active {
    font-weight: bold;
    color: #ffc400; 
  }
  
  .navbar-toggler {
    border-color: #ffc400; 
  }
  
  .navbar-toggler-icon {
    background-image: url('data:image/svg+xml,...'); 
  }

.btn-outline-success {
  color: #ffc400; 
  border-color: #ffc400; 
  padding: 0.75rem 1.5rem; 
  font-size: 1.125rem; 
  background-color: transparent;
}

.btn-outline-success:hover {
  background-color: #ffc400; 
  color: #ffffff; 
}

  
  