body {
    background-color: white; 
    margin: 0;
    font-family: Arial, sans-serif; 
    padding-top: 100px;
}

.offers-container {
    position: relative; /* Necessary for positioning the pseudo-element */
    padding: 20px;
    background-color: rgba(231, 211, 144, 0.8); /* Fallback color */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    overflow: hidden; /* Ensures the pseudo-element is contained within the border radius */
}

.offers-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../utils/img/img16.jpg'); /* Adjust the path as needed */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(10px); /* Adjust the blur level as needed */
    z-index: 0; /* Places the image behind the content */
}

.offers-container h2 {
    position: relative; /* Ensures the text is above the pseudo-element */
    font-size: 50px;
    z-index: 1; /* Places the text above the blurred background */
    color: #ffffff;
}

.offers-list {
    list-style-type: none;
    padding: 0;
    width: 100%; 
    max-width: 600px; 
    position: relative; /* Ensures the list is above the blurred background */
    z-index: 1; /* Places the list above the blurred background */
}

.offer-item {
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
}

.offer-image {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    background-color: #e6f9f3;
    border-radius: 10px;
}

.offer-details {
    flex: 1;
}

.offer-code {
    font-size: 21px;
    font-weight: bold;
    color: #ff0000;
    margin-bottom: 5px;
}

.offer-description {
    font-size: 16px;
    color: #666666;
    margin-bottom: 10px;
}

.offer-discount {
    font-size: 16px;
    color: #aa7709;
    font-weight: bold;
}

.offer-terms {
    font-size: 12px;
    color: #999999;
    margin-top: 10px;
}

.offer-timestamp {
    font-size: 12px;
    color: #999999;
    text-align: right;
}
