.dashboard-layout {
  display: flex;
  padding-top: 10px;
  height: 80vh; 
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  padding-top: 60px;
  background-image: url('../img/img4.jpg'); 
  filter: blur(3px);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 190%; 
}
