/* src/components/BranchManagement.css */
.branch-management {
    padding: 20px;
    background-color: #e7d390;
    border-radius: 5px;
}

.branch-management h2,
.branch-management h3 {
    margin-bottom: 20px;
}

.branch-management .form-control {
    width: 100%;
    margin-bottom: 10px;
}

.branch-management .list-group-item {
    margin-bottom: 10px;
}
