.staffdashboard-layout {
    display: flex;
    padding-top: 10px;
    height: 80vh; 
  }

.staffmain-content {
    flex-grow: 1;
    padding: 20px;
    padding-top: 60px;
    background-image: url('../img/img1.jpg'); 
    filter: blur(2px);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 165%; 
  }
  